/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-condensed-v27-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-light: #ffffff;
}

/* Base */
.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* title section */
.section-title {
  color: var(--color-primary-dark);
  line-height: 1.156;
}
.section-title .section-accent {
  color: var(--color-primary-light);
  line-height: 1.156;
}
.section-title {
  text-align: center;
  margin-bottom: 48px;
}

h2 {
  font-family: Play, sans-serif;
  font-weight: 700;
}
h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}

.section {
  padding: 48px 0;
}
/* link section */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-weight: 400;
}
.link:hover {
  color: var(--color-primary-light);
  font-weight: 700;
}

/* Header secction */
.header-container {
  display: flex;
  padding-top: 32px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
}

.header-sm {
  display: flex;
  gap: 32px;
}

.header-sm-item {
  fill: var(--color-primary-dark);
}

/* Hero section */

.hero-section {
  padding-top: 85.5px;
  padding-bottom: 166px;
  padding-left: 244px;
  background-image: url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-image: linear-gradient(
    89deg,
    #fff 30.62%,
    rgba(255, 255, 255, 0.85) 41.31%,
    rgba(255, 255, 255, 0.19) 58.65%,
    rgba(255, 255, 255, 0) 72.78%
  );
  */
}
.under-title {
  margin-bottom: 16px;
}
/*Hero title*/
.hero-title {
  width: 529px;
  margin-bottom: 42px;
  color: var(--color-primary-light);
  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 81.429%;
}

/* button section */
.button-order {
  margin-bottom: 16px;
  padding: 16px 32px;
  color: white;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  border-radius: 32px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
}
.button-order:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}
/* Under button section*/
.under-button {
  width: 238px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

/* About us section */

.about-us-section {
  padding-top: 0;
}
/* About us title*/
.about-us-title {
  text-align: left;
  color: var(--color-primary-dark);
  line-height: 1.156;
  margin-bottom: 40px;
}
.about-us-title .section-accent {
  color: var(--color-primary-light);
  line-height: 1.156;
}

/* About us p*/
.about-us-p:first-child {
  margin-bottom: 40px;
}

.about-us-p span {
  font-weight: 600;
  text-transform: capitalize;
}

.about-us-p {
  font-size: 22px;
  line-height: 1.72;
}

.about-us-container {
  display: flex;
  gap: 28px;
}

.about-us-img {
  width: 531px;
}

.about-us-img:last-child {
  width: 531px;
  align-self: flex-end;
  text-align: end;
}
/* Why people choose us section */

.why-people-choose-us-title {
  margin-bottom: 48px;
}

.ours-advantages-list {
  display: flex;
  gap: 56px;
}

.ours-advatages-item {
  flex-basis: calc(100% / 3);
  justify-content: center;
}

.advantages-card {
  width: 316px;
  padding: 24px 32px;
  text-align: center;
  border: 1px solid lightgray; /* Remove */
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-icon {
  fill: var(--color-primary-light);
}

/* Ours procedurs section*/

.procedours-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.ours-procedours-list {
  display: flex;
  gap: 16px;
}

.procedours-item {
  flex-basis: calc((100%-32px) / 3);
}

.procedours-card {
  width: 344px;
  height: 456px;
  flex-shrink: 0;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  border: 1px solid var(--color-primary-dark);
  text-align: center;
}

/* Carousel buttons*/

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-light);
  fill: #ffffff;
}

/* Contact section*/

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 32px;
}

/* Footer */

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  gap: 24px;
  padding: 56px, 0;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 24px;
  padding: 56px, 0;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.adress-copyrighgt {
  flex-grow: 1;
  color: #ffffff;
}

/* Footer link section*/
.foot-link {
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.17;
  color: #ffffff;
}
.sm-footlist-container {
  display: flex;
  gap: 24px;
}

.footer-icon {
  fill: #ffffff;
}

.address-copyright {
  font-size: 13px;
  line-height: 1.17;
}

.footer::after {
  position: absolute;
  width: 247px;
  height: 152px;
  right: 0;
  bottom: 0;
  background-image: url("../images/decor-cosmetic.png");
  content: "";
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 31, 74, 0.4);
}

.modal {
  position: relative;
  width: 720px;
  height: 680px;
  border-radius: 48px;
  background-color: var(--color-primary-dark);
}

.backdrop.is-hidden {
  /*display: none;*/
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}
