/* Fonts */

@import "./utils/fonts";

@import "./utils/variables";

@import "./base";
@import "./utils/utils";
@import "./components/links";
@import "./components/buttons";
/* Header secction */

@import "./components/header";
/* Hero section */

/*Hero title*/
@import "./components/hero-section";
/* About us section */

.about-us-section {
  padding-top: 0;
}
/* About us title*/
.about-us-title {
  text-align: left;
  color: var(--color-primary-dark);
  line-height: 1.156;
  margin-bottom: 40px;
}
.about-us-title .section-accent {
  color: var(--color-primary-light);
  line-height: 1.156;
}

/* About us p*/
.about-us-p:first-child {
  margin-bottom: 40px;
}

.about-us-p span {
  font-weight: 600;
  text-transform: capitalize;
}

.about-us-p {
  font-size: 22px;
  line-height: 1.72;
}

.about-us-container {
  display: flex;
  gap: 28px;
}

.about-us-container-text {
  max-width: 709px;
}

.about-us-img {
  position: relative;
}

.about-us-pict-1 {
  position: relative;
  margin-left: 0;
}
.about-us-img::before {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  background-image: url("../images/Star-2.png");
  background-repeat: no-repeat;
  content: "";
}
.about-us-img::after {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 335px;
  left: 350px;
  background-image: url("../images/Star-1.png");
  background-repeat: no-repeat;
  content: " ";
}

.about-us-pict-2 {
  margin-left: 168px;
}
.about-us-pict-2::after {
  width: 64px;
  height: 64px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/Star-3.png");
  content: "";
}
/* Why people choose us section */

.why-people-choose-us-title {
  margin-bottom: 48px;
}

.ours-advantages-list {
  display: flex;
  gap: 56px;
}

.ours-advatages-item {
  flex-basis: calc(100% / 3);
  justify-content: center;
}

.advantages-card {
  width: 316px;
  padding: 24px 32px;
  text-align: center;
  border: 1px solid lightgray; /* Remove */
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-icon {
  fill: var(--color-primary-light);
}

/* Ours procedurs section*/

.procedours-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.ours-procedours-list {
  display: flex;
  gap: 16px;
}

.procedours-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedours-card {
  width: 344px;
  height: 456px;
  flex-shrink: 0;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  border: 1px solid var(--color-primary-dark);
  text-align: center;
  transition: transform 0.3s;
}

.procedours-card:hover {
  transform: scale(1.02);
}

/* Carousel buttons*/

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-light);
  fill: var(--color-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Contact section*/

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 32px;
}

.contact-form {
  padding: 48px 56px;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  border-radius: 32px;

  .form-field {
    margin-bottom: 16px;
  }
}

/* Footer */

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  gap: 24px;
  padding: 56px, 0;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 24px;
  padding: 56px, 0;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.adress-copyrighgt {
  flex-grow: 1;
  color: var(--color-light);
}

/* Footer link section*/
.foot-link {
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-light);
}
.sm-footlist-container {
  display: flex;
  gap: 24px;
}

.footer-icon {
  fill: var(--color-light);
}

.address-copyright {
  font-size: 13px;
  line-height: 1.17;
}

.footer::after {
  position: absolute;
  width: 247px;
  height: 152px;
  right: 0;
  bottom: 0;
  background-image: url("../images/decor-cosmetic.png");
  content: "";
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;
  overflow-y: auto;
}

.modal {
  position: relative;
  padding: 42px 144px;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  border-radius: 48px;
  background-color: var(--color-primary-dark);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.modal-title {
  margin-bottom: 40px;
  color: var(--color-light);
}
.modal-under-title {
  max-width: 280px;
  margin: 0 auto 32px;
  font-size: 22px;
  line-height: 1.18;
  font-weight: 600;
  color: var(--color-light);
}
.modal-under-title .modal-text-accent {
  color: var(--color-primary-light);
}
/* Form */
.form-field {
  position: relative;
  max-width: 310px;
  margin: 0 auto 24px;
}

.form-label {
  position: absolute;
  left: 32px;
  top: 18px;
  font-size: 13px;
  line-height: 1.15;
}

.form-input {
  width: 100%;

  padding: 18px 32px;
  border-radius: 32px;
  border: 2px solid var(--color-secondary-dark);
  background-color: transparent;
}
.form-input::placeholder {
  color: var(--color-light);
}

.form-input:focus {
  background-color: var(--color-secondary-dark);
  outline: none;
}

.form-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.form-terms {
  margin: 0 auto;
  text-align: center;
  max-width: 213px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-dark);
}
.form-terms-link {
  color: var(--color-secondary-dark);
}
.form-terms-link:hover {
  color: var(--color-primary-light);
}
