.button-cross {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  fill: var(--color-light);
  border: none;
}
