.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../../images/vector-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      width: 247px;
      height: 152px;
      right: 0;
      bottom: 0;
      background-image: url("../images/decor-cosmetic.png");
      content: "";
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 56px, 0;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 56px, 0;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
      padding: 56px, 0;
    }
  }
  &__address {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 56px, 0;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__logo {
    flex-grow: 1;
  }
  &__menu {
    flex-grow: 1;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: start;
    }
  }

  &__link {
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-light);

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__contact-data {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__sm-container {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  &__icon {
    fill: var(--color-light);
  }

  &__address-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    line-height: 1.17;
    flex-grow: 1;
    color: var(--color-light);
  }
}
