.form__title {
  max-width: 280px;
  margin: 0 auto 32px;
  font-size: 22px;
  line-height: 1.18;
  font-weight: 600;
  color: var(--color-light);
}

.form-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.form-terms {
  margin: 0 auto;
  text-align: center;
  max-width: 213px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-dark);

  &__link {
    color: var(--color-secondary-dark);

    &:hover {
      color: var(--color-primary-light);
    }
  }
}
