.hero-section {
  background-image: linear-gradient(
      57deg,
      #fff 20.92%,
      rgba(255, 255, 255, 0.78) 44.46%,
      rgba(255, 255, 255, 0.2) 58.9%,
      rgba(255, 255, 255, 0) 72.45%
    ),
    url(../images/hero-section-background.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: top right;

  @media screen and (min-width: $bp-desktop) {
    /*max-width: 1440px;*/

    background-image: linear-gradient(
        89deg,
        #fff 30.62%,
        rgba(255, 255, 255, 0.85) 41.31%,
        rgba(255, 255, 255, 0.19) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0 56px;

    @media screen and (min-width: $bp-desktop) {
      /*max-width: 1440px;*/
      display: block;
      margin: 0 auto;
      padding-top: 85.5px;
      padding-bottom: 166px;
      padding-left: 206px;
      padding-right: 1px;
    }
  }

  &__over-title {
    font-size: 12px;
    margin-bottom: 0;
    @media screen and (min-width: $bp-desktop) {
      padding-top: 17px;
      margin-bottom: 16px;
      font-size: 18px;
    }
  }

  &__title {
    margin-bottom: 32px;
    color: var(--color-primary-light);
    font-weight: 700;
    font-family: Play, sans-serif;
    font-size: 54px;
    line-height: 85%;
    @media screen and (min-width: $bp-desktop) {
      max-width: 529px;
      margin-bottom: 42px;
      font-size: 140px;
      line-height: 81.429%;
    }
  }

  &__under-button-text {
    width: 238px;
    text-align: center;
    font-size: 11px;
    line-height: 150%;

    @media screen and (min-width: $bp-desktop) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
