.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;
  overflow-y: auto;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 42px 144px;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  border-radius: 48px;
  background-color: var(--color-primary-dark);
  background-image: url(../../images/vector-background.png);

  &__btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
  }

  &__title {
    margin-bottom: 40px;
    color: var(--color-light);
  }

  &__form-field {
    margin-bottom: 16px;
  }
}
